<div>
  <span>Twitch username: </span><input [(ngModel)]="username"><span *ngIf="username_notfound">invalid user</span>
  <button (click)="getViewers()">Check</button>
</div>

<div>
  <p>Active viewers count: {{chatters.viewer_count}}</p>
  <p>Active viewers following count: {{chatters.follower_count}} ({{ chatters.follower_count/chatters.viewer_count*100 }}%)</p>
  <p>Confirmed bots count: {{chatters.confirmed_bot_count }} ({{ chatters.confirmed_bot_count/chatters.viewer_count*100 }}%)</p>
  <p>Active viewers without bots following count: {{chatters.follower_count}} ({{ chatters.follower_count/ (chatters.viewer_count-chatters.confirmed_bot_count) * 100 }}%)</p>

  <li *ngFor="let viewer of chatters.viewers"  [ngClass]="viewer.typeClass"> {{viewer.name}} : {{viewer.date}} </li>
</div>